@model WebbiSkools.QuizManager.Web.Models.Quiz

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<ol>
    @foreach (var question in @Model.Questions)
    {
        <li class="h2 mt-3">@question.Text</li>

        @if (User.IsInRole("View") || User.IsInRole("Edit"))
        {
            <div class="row">
                <div class="col text-center">
                    <button type="button" class="btn btn-success" data-testid="view-answers-button" data-toggle="collapse" data-target="#answers-@question.Id" aria-expanded="false" aria-controls="collapseExample">View Answers</button>
                </div>
            </div>

            <div id="answers-@question.Id" class="collapse mt-2" data-testid="answers-bubble">
                <div class="alert alert-secondary">
                    <ol type="A">
                        @foreach (var answer in question.Answers)
                        {
                            <li class="answer">@answer.Text</li>
                        }
                    </ol>
                </div>
            </div>
        }
    }
</ol>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>